@charset "UTF-8";
body {
    margin: 0;
	font-family: "Libre Baskerville", serif;
  	font-weight: 100;
  	font-style: normal;
	color:#322016;
}
wrapper {
    margin: auto;
    width: 1400px;
    display: block;
}
nav {
    border-bottom:solid;
    border-bottom-width: thin;
	border-bottom-color: #322016;
}

.fujiikazelogo {
    font-size: 45px;
    display: inline-block;
    color: #322016;	
	margin-left: 30px;
	margin-right:300px;
}

ul {
    padding: 0;
	text-align:left;
}
ul a li   {
    display: inline-block;
    padding: 20px 20px;
    color: #322016;
}
ul a li:hover {
    background-color: #EEE0D5;
	border-bottom:solid;
	border-bottom-color: #322016;
	transition-duration: 0.5s;
}
h1 {
    font-weight: 100;
	text-align:center;
	
}
main {
    height: 700px;
}
.fkbkg{
	position:absolute;
}
.Homeheading{
    position: relative;
    text-align: center;
	top:20px;
	left:30px;
    font-size: 150px;
    color: white;
	word-spacing:390px;
}
.Homeheading2{
    position: relative;
    text-align: center;
    top:200px;
    font-size: 120px;
    color: white;
    word-spacing: 30px;
    text-shadow: 6px 0px 28px #252525;
}
.Viewinfo{
	text-decoration: none;
	position:relative;
    color: #322016;
	top:150px;
    left: 45%;
    padding: 10px 20px;
    font-size: 24px;
    border: 2px solid #EEE0D5;
	background-color:#EEE0D5;
    border-radius: 50px;
}
.Viewinfo:hover{
	color:white;
	border-color:white;
	
}
.Vidtext{
	color:#322016;
	text-align:center;
	margin-top:480px;
}
.Mainvid{
	margin-top:50px;
	margin-left:25%;
	display:block;
}
.facebook{
	width:40px;
	margin-top:200px;
	margin-left:38%;
}
.twitter{
	width:40px;
	margin-top:200px;
	margin-left:30px;
}
.instagram{
	width:40px;
	margin-top:200px;
	margin-left:30px;
}
.youtube{
	width:40px;
	margin-top:200px;
	margin-left:30px;
}
.spotify{
	width:40px;
	margin-top:200px;
	margin-left:30px;
}
.TourHeading{
	padding-top:60px;
	padding-bottom:20px;
	border-top:solid;
	border-top-width:thin;
	border-top-color: #322016;
	
}
.fktour{
	position:absolute;
}
td {
    border: 0;
    color: #EEE0D5;
    height: 2.5em;
    width: 20%;
}
table {
    width: 100%;
    position: relative;
    text-align: center;
    margin:0;
    font-size: 17px;
    font-weight:bold;
    letter-spacing: 2px;
    border-style: none;
    background-color: rgba(34,20,18,0.75);
	padding: 90px 0px 45px 0px;
}
.buytickets{
	text-decoration: none;
	font-size:15px;
	color: #EEE0D5;
    border: 2px solid #EEE0D5;
    border-radius: 50px;
	padding:5px 10px;

}
.buytickets:hover{
	background-color:#EEE0D5;
	color:#322016;

}
.News1{
	display:inline-block;
	margin-left:70px;
}
.News1img{
	margin:80px 0px 0px 0px;
}
.News1text{
    font-size: 14px;
    text-align: center;
	margin-right:20px;
}
.Readmore1{
	text-decoration: none;
	position:relative;
    color: #322016;
    top:10px;
	left:36%;
    padding: 5px 10px;
    font-size: 12px;
    border: 2px solid #EEE0D5;
	background-color:#EEE0D5;
    border-radius: 50px;
}
.Readmore1:hover{
	color:white;
}
.News2{
	display:inline-block;
	
}
.News2img{
	margin:0px 0px 18px 27px;
}
.News2text{
    font-size: 14px;
    text-align: center;
}
.News3{
	display:inline-block;
}
.News3img{
	margin:0px 0px 18px 27px;
}
.News3text{
    font-size: 14px;
    text-align: center;
}
.media1{
	display: block;
	margin-left: 18%;
}
.media2{
	display: inline-block;
	padding-top: 20px;
	padding-left:140px;
}
.media3{
	display: inline-block;
	padding-left:15px;
}
.media4{
	display: inline-block;
	padding-top:20px;
	padding-left:140px;
}
.media5{
	display: inline-block;
	padding-left:15px;
}
.homemain{
	background-color:white;
}
.tourmain{
	background-color:#EEE0D5;
}
footer{
	background-color: #322016;
    padding: 30px;
    color: #EEE0D5;
	font-size:14px;
}
.homefooter {
	margin-top:100px;
    color: #EEE0D5;
}
.tourfooter{
    color: #EEE0D5;
}
.mediafooter{
	margin-top:800px;
}
