@charset "UTF-8";
body {
    margin: 0;
	font-family: "Libre Baskerville", serif;
  	font-weight: 100;
  	font-style: normal;
	color:#322016;
	width:100%;
}
wrapper {
    width: 100%;
    display: block;
}
nav{
	text-align:center;
	margin-top:-20px;
	margin-bottom:-10px;
}
.homenav {
	
}
.homebanner{
	width:100%;
	height:1000px;
	background-image: url(
"fkbkg2.png");
/* Make image center */
 background-position: center;
background-size: cover;
}

.fujiikazelogo {
    font-size: 40px;
	font-weight: 100;
    display: inline-block;
    color: #322016;	
	margin-left: 0px;
	margin-right:300px;
}

ul {
    padding: 0;
	margin-right:40px;
	display:inline-block;
}
ul a li {
    display: inline-block;
    padding: 20px 20px;
    color: #322016;
	margin-left:10px;
	margin-right:10px;
	vertical-align:middle;
	border-bottom:solid;
	border-bottom-color: #FFFFFF;
}
ul a li:hover {
    background-color: #EEE0D5;
	padding: 20px 20px;
	border-bottom:solid;
	border-bottom-color: #322016;
	transition-duration: 0.3s;
}
h1 {
    font-weight: 100;
	text-align:center;
	margin-top:50px;
	margin-left:-20px;
	
}
main {
    height: 100%;
}

.Viewinfo{
	text-decoration: none;
	position:absolute;
	left:45%;
	top:930px;
    color: #322016;
    padding: 10px 20px;
	text-align:center;
    font-size: 24px;
    border: 2px solid #EEE0D5;
	background-color:#EEE0D5;
    border-radius: 50px;
}
.Viewinfo:hover{
	border-color:#322016;
	background-color:#322016;
    color: #EEE0D5;
	transition-duration: 0.2s;
	
}

.Vidtext{
	color:#322016;
	text-align:center;
	margin-top:10%;
}
.Mainvid{
	margin-top:5%;
	margin-left:26%;
	display:block;
}

.facebook{
	width:35px;
	margin-top:200px;
}
.facebook:hover{
	opacity:80%;
	transition-duration: 0.2s;
}
.twitter{
	width:35px;
	margin-top:200px;
	margin-left:30px;
}
.twitter:hover{
	opacity:80%;
	transition-duration: 0.2s;
}
.instagram{
	width:35px;
	margin-top:200px;
	margin-left:30px;
}
.instagram:hover{
	opacity:80%;
	transition-duration: 0.2s;
}
.youtube{
	width:35px;
	margin-top:200px;
	margin-left:30px;
}
.youtube:hover{
	opacity:80%;
	transition-duration: 0.2s;
}
.spotify{
	width:35px;
	margin-top:200px;
	margin-left:30px;
}
.spotify:hover{
	opacity:80%;
	transition-duration: 0.2s;
}
.TourHeading{
	padding-top:40px;
	padding-bottom:50px;
	font-weight:100;
	text-align:center;
	font-size:30px;
}
.fktour{
	width:100%;
	background-image: url(
"FKTour.png");
/* Make image center */
 background-position: center;
background-size: cover;
}
td {
    border: 0;
    color: #EEE0D5;
    height: 2.5em;
    width: 20%;
}
table {
    width: 100%;
    position: relative;
    text-align: center;
    margin:0;
	margin-left:-30px;
    font-size: 17px;
    font-weight:bold;
    letter-spacing: 2px;
    border-style: none;
	padding: 90px 0px 100px 0px;
}
.buytickets{
	text-decoration: none;
	font-size:15px;
	color: #EEE0D5;
    border: 2px solid #EEE0D5;
    border-radius: 50px;
	padding:5px 10px;

}
.buytickets:hover{
	background-color:#EEE0D5;
	color:#322016;
	transition-duration: 0.2s;
}
.toursocialmedia{
	margin-top:100px;
}
.newsh1{
	margin-bottom:7%;
}
.News1{
	display:inline-block;
	margin-left:7%;
	margin-bottom:10%;
	cursor:pointer;
}
.News1img:hover{
  	opacity:80%;
	transition-duration: 0.2s
}
.News1text{
    font-size: 14px;
    text-align: center;
	margin-right:2%;
}
.Readmore1{
	text-decoration: none;
	position:relative;
    color: #322016;
    top:10px;
	left:36%;
    padding: 5px 10px;
    font-size: 15px;
    border: 2px solid #EEE0D5;
	background-color:#EEE0D5;
    border-radius: 50px;
}
.Readmore1:hover{
	border-color:#322016;
	background-color:#322016;
    color: #EEE0D5;
	transition-duration: 0.2s;
}
.News2{
	display:inline-block;
	vertical-align:top;
	margin-left:3%;
	cursor:pointer;
	margin-bottom:10%;
}
.News2img:hover {
 	opacity:80%;
	transition-duration: 0.2s;
}
.News2text{
    font-size: 14px;
    text-align: center;
}
.News3{
	display:inline-block;
	margin-left:3%;
	vertical-align:top;
	cursor:pointer;
	margin-bottom:10%;
}
.News3img:hover{
	opacity:80%;
	transition-duration: 0.2s
}
.News3text{
    font-size: 14px;
    text-align: center;
}
.albumgroup{
	margin-left:43px;
}
.bestofalbum{
	margin-top:50px;
	margin-left:230px;
	padding:10px;
	display:inline-block;
	text-align:center;
	color:#322016;
	background-color:#EEE0D5;
}
.bestofalbum:hover{
	background-color:#C7B7AA;
	transition-duration: 0.2s;
}
.feelingood{
	margin-top:50px;
	margin-left:65px;
	padding:10px;
	display:inline-block;
	text-align:center;
	color:#322016;
	background-color:#EEE0D5;
}
.feelingood:hover{
	background-color:#C7B7AA;
	transition-duration: 0.2s;
}
.michiteyuku{
	margin-top:50px;
	margin-left:65px;
	padding:10px;
	display:inline-block;
	text-align:center;
	color:#322016;
	background-color:#EEE0D5;
}
.michiteyuku:hover{
	background-color:#C7B7AA;
	transition-duration: 0.2s;
}
.hana{
	margin-top:50px;
	margin-left:230px;
	padding:10px;
	display:inline-block;
	text-align:center;
	color:#322016;
	background-color:#EEE0D5;
}
.hana:hover{
	background-color:#C7B7AA;
	transition-duration: 0.2s;
}
.workinhard{
	margin-top:50px;
	margin-left:65px;
	padding:10px;
	display:inline-block;
	text-align:center;
	color:#322016;
	background-color:#EEE0D5;
}
.workinhard:hover{
	background-color:#C7B7AA;
	transition-duration: 0.2s;
}
.grace{
	margin-top:50px;
	margin-left:65px;
	padding:10px;
	display:inline-block;
	text-align:center;
	color:#322016;
	background-color:#EEE0D5;
}
.grace:hover{
	background-color:#C7B7AA;
	transition-duration: 0.2s;
}
.albumtext{
	font-size:15px;
	
}
.media1{
	display: block;
	margin-top:80px;
	margin-left: 19%;
}

.slideshow-container {
  max-width: 800px;
  padding-top:150px;
  position:relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #EEE0D5;
  font-weight: bold;
  font-size: 30px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(50,32,22,0.59);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #322016;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 50;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #EEE0D5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #7C5E47;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.contacttext{
	margin-top:80px;
	font-size:14px;
	text-align:center;
}
.ContactForm{
	margin-top:30px;
	margin-left:30%;
	padding:30px;
	background-color:#322016;
}
.merchgroup{
	margin-left:4%;
}
.merchtext{
	text-decoration:line-through;
}
.store1{
	display:inline-block;
	margin-left:160px;
	margin-top:50px;
	color:#322016;
}
.store1:hover{
   opacity:80%;
}
.store2{
	display:inline-block;
	margin-left:80px;
	margin-top:50px;
	color:#322016;
}
.store2:hover{
   opacity:80%;
}
.store3{
	display:inline-block;
	margin-left:80px;
	margin-top:50px;
	color:#322016;
}
.store3:hover{
   opacity:80%;
}
.store4{
	display:inline-block;
	margin-left:160px;
	margin-top:50px;
	color:#322016;
}
.store4:hover{
   opacity:80%;
}
.store5{
	display:inline-block;
	margin-left:80px;
	margin-top:50px;
	color:#322016;
}
.store5:hover{
   opacity:80%;
}
.store6{
	display:inline-block;
	margin-left:80px;
	margin-top:50px;
	color:#322016;
}
.store6:hover{
   opacity:75%;
}
.loadmore{
	text-decoration: none;
	display:block;
	background-color:#EEE0D5;
    color: #322016;
	margin-top:50px;
	margin-left:43%;
    padding: 10px 40px;
    font-size: 16px;
    border: 2px solid #EEE0D5;
    border-radius: 50px;
	text-align: center;
	cursor:pointer;
}
.loadmore:hover{
	background-color:#322016;
    color: #EEE0D5;
	border-color:#322016;
	transition-duration: 0.2s;
}
.privacytext{
	margin:80px 300px;
}
.homemain{
	background-color:white;
}
footer{
	text-align:center;
	background-color: #322016;
    padding: 30px 50px;
    color: #EEE0D5;
	font-size:12px;
	margin-top:2%;
}
.homefooter {
    color: #EEE0D5;
}
.newsfooter {
    color: #EEE0D5;
}
.musicfooter {
    color: #EEE0D5;
}
.tourfooter{
    color: #EEE0D5;
}
.mediafooter{

}
.contactfooter{

}
.storefooter{

}
.privacyfooter{

}
@media (max-width:800px){
.homebanner{
	min-width:400px;
}
	.fujiikazelogo {
    font-size: 15px;
    display: inline-block;
    padding-left: 30px;
    text-align: left;
	width:100%;
}
		.Mainvid{
	width:70%;
		margin:auto;
		padding-top:20px;
		max-height:200px;
}
		.media1{
	width:80%;
		margin:auto;
			max-height:300px;
}
	.socialmediaicons{
		width:100%;
		margin:auto;
	}
	.facebook{
		margin-left:-10%;
	}
.privacytab{
	display:none;
	}
	.storetab{
		display:none;
	}
	.contacttab{
		display:none;
	}
	.mediatab{
		display:none;
	}
	.tourtab{
		display:none;
	}
	.musictab{
		display:none;
	}
	.newstab{
		display:none;
	}

}
@media (max-width:1300px){
.homebanner{
min-width:900px;
}
	.Mainvid{
	width:70%;
		margin:auto;
		padding-top:20px;
}
	.media1{
	width:80%;
		margin:auto;
}
	.fujiikazelogo {
    font-size: 30px;
		padding-right:0px;
		padding-left:30px;
		width:100%;
		text-align:left;
}
	.privacytext{
	margin:80px auto;
	padding:0px 100px;
}
.socialmediaicons{
	margin:auto;
}
.privacytab{
	display:none;
	}
	.storetab{
		display:none;
	}
	.contacttab{
		display:none;
	}
	.mediatab{
		display:none;
	}
	.tourtab{
		display:none;
	}
	.musictab{
		display:none;
	}
	.newstab{
		display:none;
	}
	.news1{
		width:50%;
	}
}
.socialmediaicons{
	margin-left:20%;
}
@media (max-width:1500px){
.homebanner{
min-width:500px;
}
	.fujiikazelogo {
    font-size: 30px;	
	padding-right: 600px;
}
.privacytab{
	display:none;
	}
	.storetab{
		display:none;
	}
	.contacttab{
		display:none;
	}
	.mediatab{
		display:none;
	}
	.tourtab{
		display:none;
	}
	.musictab{
		display:none;
	}
	.newstab{
		display:none;
	}
}
.socialmediaicons{
	margin-left:39%;
}
